<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LoL Search API Demo</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:500,700i" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="custom.css">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <h1><a href="/">LoL Search API Demo</a></h1>
                <form action="/" method="POST">
                    <label for="q">
                    <input type="search" id="q" name="q" placeholder="Summoner Name">
                    <input type="submit">
                </form>                
            </div>
        </header>