<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <title>LoLDex</title>
    </head>
    <body>
        <h1>LoLDex</h1>
        <h2>Search for a summoner!</h2>
        <p>Summoner name is</p>
        <form action="/" method="POST">
            <label for="q">
            <input type="search" id="q" name="q" placeholder="Summoner Name">
            <input type="submit">
        </form>
    </body>
</html>