<% include partials/header.ejs %>
        

<main class="wrapper">
    <div class="summonertitle">
        <h1>Rhea</h1>
        <h4>Lv 9999</h4>
    </div>
    
    
    <center><img style="width: 600px; height: 600px" src="/rheapic.JPG"></center>
    
</main>

        

<% include partials/footer.ejs %>