<% include partials/header.ejs %>
        

<main class="wrapper">
    <div class="summonertitle">
        <h1>Rhea</h1>
        <h4>Lv 9999</h4>
    </div>
    
    
    <center>
        
        <img style="width: 600px; height: 600px; border-radius: 40px" src="/rheapic.JPG">
    
    <div>
        <br>
        <p><em>Lore:</em> </p>
        <p>Once upon a time</p>
        </p> Rhea is the best dog ever.</p>
    </div>
   
    </center>
</main>

        

<% include partials/footer.ejs %>