body {
    background: #f1f1f1;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 150px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff2600;
    color: white;
    padding: 20px 0;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
}

h1 {
    padding: 0 20px;
}

form {
    padding: 0 20px;
    margin: 0;
}

#q {
    width: 200px;
}

main {
    padding: 20px 20px;
}


table * {
    border: 1px solid pink;
    background: pink;
}