body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: inherit;
    color: skyblue;
}

img {
    height: 150px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff2600;
    color: white;
    padding: 10px 0;
}

header h1 {
    font-style: italic;
    font-size: 3rem;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
}

h1 {
    padding: 0 20px;
}

form {
    padding: 0 20px;
    margin: 0;
}

#q {
    width: 200px;
}

main {
    padding: 20px 20px;
}


table * {
    background: pink;
    border: 2px solid white;
}